.Rproj.user
data/pcod-cache/*
.RData
.RHistory
.Ruserdata
.Rapp.history
*.pdf
*.png
*.rds
*_cache
*_files
*.html
*.log
*.lof
*.lot
*.aux
*.bat
*.bbl
*.blg
*.tmp
*~
~$*
*.dvi
*.ps
*.7z
*.toc
*.out
*.vrb
*.nav
*.snm
*.upa
*.upb
*.doc*
*.csv
*.xls*
*.tex
*.svg
doc/figure
doc/res-doc.tex
docMSE/res-docMSE.tex
doc/knitr-cache
models*
*-concordance.tex
*.synctex.gz
*.synctex(busy)
.DS_Store
doc/knitr-cache/
retrospectives*/
retrospectives/
data/results/
data/Results/
report/sr.Rmd
cpue-comp-*
index/resdoc.tex
/models
csas-style
report/resdoc.knit.md
report/resdoc.utf8.md
*.rda
*.pxm
archive/post-1995-cpue-comparison.Rmd
presentations/libs/
data/generated/cpue-predictions-historical.csv
data/generated/cpue-predictions-modern.csv
index
report-french/sr.Rmd
report/knitr-cache-tex
report/knitr-figs
report-french/knitr-cache-tex
report-french/knitr-figs
report-french/_book
report/_book
data/
*knitr-cache-tex*

